.btnTrash{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    z-index: 20;
}
.btns{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btnaction{
    margin: 2% 1%;
}
.btnTrash:active{
    background-color: rgb(233, 233, 233);
}