.edit_text{
    display: flex;
    flex-direction: column;
}
.edit_area{
    display: flex;
    flex-direction: row;
    
}
.edit_image{
    margin-right: 50px;
}
.edit_input{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
    min-height: 50px;
    max-width: 500px;
    min-width: 400px;

}
.mb-15{
    margin-bottom: 15px;
}
.image_edit{
    width: 600px;
    max-height: 700px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
}
.edit_save{
    width: auto;
    margin: 0 auto;
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
    padding: 0 20px;
    color: white;
    transition-duration: 0.3s;
}
.edit_save:hover{
    background-color: rgb(36, 36, 36);
}
.edit_save:active{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}
.isSave{
    cursor:not-allowed;
    width: auto;
    margin: 0 auto;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 18px;
    color: grey;
    padding: 0 20px;
}
@media screen and (max-width: 1200px) {

    .edit_area{
        flex-direction: column;
        
    }
    .image_edit{
        max-width: 500px;
        width: 100%;
        max-height: 600px;
        overflow: hidden;
    }
    .edit_image{
        margin: 0;
    }
    .edit_input{
        max-width: 500px;
        min-width: 0;
        width: 100%;
    }
}