.my_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_items{
    margin-bottom: 3%;
    padding: 1% 2%;
    width: 400px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
}
.btn_login{
    padding: 1% 4%;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 3%;
}
.title_login{
    color: white;
    margin-bottom: 2%;
}
.navigate{
    color:  white;
    font-size: 18px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .my_items{
        width: 100%;
        max-width: 400px;
    }
    .my_form{
        width: 100%;
        margin: 0 8%;
    }
}