.breadcrumb-link{
    margin-left: 50px;
    margin-top: 10px;
    color:rgb(0, 0, 0);
    font-size: 18px;
    
}

.breadcrumb-link:hover{
    color:rgb(37, 37, 37)
}

.breadcrumbs{
    margin-left: 80px;
    margin-bottom: 1%;
    margin-top: 2%;
    width: auto;
}

.breadcrumb-separator{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.breadcrumb-link{
    margin-left: 3px;
}
.lastitem{
    color: blue;
}