.breadcrumb-link{
    margin-left: 50px;
    color:rgb(0, 0, 0);
    font-size: 18px;
    
}

.breadcrumb-link:hover{
    color:rgb(37, 37, 37)
}

.breadcrumbs{
    /* margin-left: 80px; */
    margin-bottom: 1%;
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.breadcrumb-separator{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.breadcrumb-link{
    margin-left: 3px;
}
.lastitem{
    color: blue;
}