.mynavbar {
    height: 80px;
    background-color: black;
    box-shadow: 0 0 150px 20px rgba(105, 105, 105, 0.377);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
}

.navbar-brand img {
    height: 30px;
    width: auto;
    margin-right: 15px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    width: auto;
}

.btn_log {
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 16px;
    margin-left: 15px;
}

.btn_log:active {
    background-color: rgb(48, 48, 48);
}

.btn_deactive {
    cursor: not-allowed;
    color: grey;
    border: solid 1px grey;
    padding: 8px 15px;
    font-size: 16px;
}

.btn_deactive:active {
    background-color: black;
}

.my_name {
    color: white;
    font-size: 18px;
    margin-left: 15px;
}
.brand-nav-container {
    display: flex;
    align-items: center;

}
.name-buttons{
    width: auto;
    display: flex;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;

}
@media screen and (max-width: 1200px) {

    .mynavbar {
        height: 60px;
    }
}

/* Адаптивные стили */
@media screen and (max-width: 768px) {
    .name-buttons{
        margin-top: 8px;
        width: 100%;
        justify-content: space-between;
    }
    .brand-nav-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .navbar-brand img {
        height: 20px;
        width: auto;
        margin-right: 15px;
    }

    .mynavbar {
        min-height: 60px;
        height: auto;
        flex-direction: column;
    }
    .nav{
        width: auto;
    }

    .btn_log,
    .btn_deactive {
        font-size: 14px;
        padding: 4px 8px;
    }

    .my_name {
        margin: 10px 15px 0 px 0px;
    }
}
